<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Insert title here</title>
</head>
<body>
<table width="100%" border="1" cellspacing="1" cellpadding="0">
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>密码</td>
        <td>性别</td>
        <td>昵称</td>
        <td>状态</td>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td><input type="text" th:value="${user.password}" /></td>
        <td>男：<input type="radio" th:checked="${user.sex % 2 != 0}"/>女：<input type="radio" th:checked="${user.sex % 2 == 0}"/></td>
        <td th:text="${user.nick_name}"></td>

        <td th:switch="${user.state}">
            <span th:case="3">未支付</span>
            <span th:case="4">已支付</span>
            <span th:case="5">订单已完成</span>
        </td>

        <!--<td><input type="radio" th:if="${user.sex % 2 == 0}"/></td>
        <td th:text="${user.name}"></td>
        <td>
            <select>
                <option>请选择</option>
                <option th:selected="${user.id % 2 == 0}">北京</option>
                <option value="2">南京</option>
            </select>
        </td>-->
    </tr>
</table>
</body>
</html>